header {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 999;
    background: #fff;

    .left_side {
        a.logo {
            display: inline-block;
            padding: 1rem 0;
    
            img {
                width: 200px;
                height: auto;
            }
        }
    }

    .middle {
        flex-grow: 1;
        padding: 0 4rem;

        .predictive-search-widget-area {
            .widget {
                .wc_ps_bar {
                    .wc_ps_container {
                        margin: 0 !important;
                        border: 1px solid #ededed !important;
                        border-radius: 0 !important;

                        .wc_ps_form {
                            .wc_ps_nav_fill {
                                .wc_ps_nav_field {
                                    input {
                                        // font-family: "sofia-pro", arial, sans-serif;
                                        // padding: 1rem !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .right_side {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        a {
            display: flex;
            flex-direction: row;
            align-items: center;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            svg {
                width: auto;
                height: 1.5rem;
                margin-right: .5rem;

                path {
                    fill: $orange;
                }
            }

            span {

            }
        }
    }
}