nav#main_menu {
    width: 100%;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;

    @media (max-width: 500px) {
        height: calc(100vh - 68px);
        top: 68px;
    }

    @media (min-width: 501px) and (max-width: 991px) {
        height: calc(100vh - 80px);
        top: 80px;
    }
    
    @media (max-width: 991px) {
        width: 100%;
        position: absolute;
        left: 0;
        flex-direction: column !important;
        background: #fff;
        z-index: 999;
        padding: 1rem 0;

        &.active {
            display: flex;
        }

        &:not(.active) {
            display: none;
        }
    }

    >.main_menu_ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 991px) {
            display: flex;
            list-style-type: none;
            flex-direction: row !important;
            align-items: flex-start !important;
            flex-wrap: wrap;
            padding: 0;
        }

        >li {
            @media (min-width: 992px) {
                &:hover {
                    >span {
                        background: #F5F5F5;
                    }
    
                    >ul {
                        display: flex;
                    }
                }

                &.mobile_only {
                    display: none;
                }
            }

            @media (max-width: 991px) {
                width: 49%;
                cursor: pointer;
              
                // &:hover {
                //     >ul {
                //         display: flex !important;
                //     }
                // }

                &.sale {
                    >span, >a {
                        span.mobile_icon {
                            svg {
                                path {
                                    fill: #e53935;
                                }
                            }
                        }

                        span.mobile_shop_by {
                            color: #e53935;
                        }
                    }
                }

                &.offers_promotions {
                    >span, >a {
                        span.mobile_icon {
                            svg {
                                path {
                                    fill: $orange;
                                }
                            }
                        }

                        span.mobile_shop_by {
                            color: $orange;
                        }
                    }
                }
            }

            @media (max-width: 500px) {
                width: 100%;
            }

            >span, >a {
                display: block;
                padding: 1.5rem;
                cursor: pointer;
                transition: all .3s ease;

                @media (min-width: 992px) {
                    text-transform: uppercase;
                }

                @media (max-width: 991px) {
                    display: flex !important;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 1rem 2rem !important;
                }

                >.mobile_icon {
                    margin-top: .09rem;
                    margin-bottom: -.09rem;
                    margin-right: .6rem;

                    @media (min-width: 992px) {
                        display: none;
                    }
                      
                    svg {
                        width: 1.25rem;

                        path {
                            fill: #292929;
                        }
                    }
                }

                >.mobile_shop_by {
                    margin-right: .25rem;

                    @media (min-width: 992px) {
                        display: none;
                    }
                }

                >.desktop_shop_by {
                    @media (max-width: 991px) {
                        display: none;
                    }
                }
            }

            >ul {
                width: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                background: #3b4395;
            
                @media (min-width: 992px) {
                    position: absolute;
                    flex-direction: row;
                    top: 100%;
                    left: 0;
                }

                @media (max-width: 991px) {
                    width: 100%;
                    flex-direction: column;
                }

                >li {
                    @media (min-width: 992px) {
                        &:hover {
                            >span {
                                background: #a8addd;
                            }

                            >.mega_menu_popout {
                                display: flex;
                            }
                        }
                    }

                    @media (max-width: 991px) {
                        width: 100%;
                        cursor: pointer;
    
                        // &:hover {
                        //     >.mega_menu_popout {
                        //         display: flex !important;
                        //     }
                        // }
                    }

                    >span {
                        display: block;
                        padding: 1.5rem;
                        cursor: pointer;
                        color: #fff;
                        transition: all .3s ease;

                        @media (min-width: 992px) {
                            text-transform: uppercase;
                        }

                        @media (max-width: 991px) {
                            padding: 1rem 2rem !important;
                        }
                    }

                    >.mega_menu_popout {
                        display: none;
                        align-items: stretch;
                        justify-content: center;
                        background: #F5F5F5;
                        padding: 2rem;
            
                        @media (min-width: 992px) {
                            width: 1200px;
                            height: 21rem;
                            max-width: 100%;
                            transform: translate(-50%, 0%);
                            position: absolute;
                            flex-direction: row;
                            top: 100%;
                            left: 50%;
                            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        }

                        @media (max-width: 991px) {
                            width: 100%;
                            padding: 1rem 2rem !important;
                        }

                        >.column {
                            @media (min-width: 992px) {
                                &:nth-child(1) {
                                    width: 50%;
                                    padding-right: 2rem;
                                }
    
                                &:nth-child(2) {
                                    width: 25%;
                                    padding-right: 2rem;
                                }
    
                                &:nth-child(3) {
                                    width: 25%;
                                }
                            }

                            @media (max-width: 991px) {
                                width: 100%;

                                &:not(:first-child) {
                                    display: none;
                                }
                            }

                            .links_header {
                                @media (min-width: 992px) {
                                    display: block;
                                    margin-bottom: 1.5rem !important;
                                }

                                @media (max-width: 991px) {
                                    display: none !important;
                                }

                                span {
                                    font-size: 1.2rem;
                                    font-weight: 700 !important;
                                }
                            }

                            .links_view_all {
                                display: block;

                                @media (min-width: 992px) {
                                    margin-top: 1.5rem !important;
                                }

                                span {
                                    font-weight: 700 !important;

                                    @media (min-width: 992px) {
                                        font-size: 1.2rem;
                                    }

                                    @media (max-width: 991px) {
                                        font-size: 1rem;
                                    }
                                }
                            }

                            >ul.links {
                                @media (min-width: 992px) {
                                    columns: 2;
                                }

                                @media (max-width: 991px) {
                                    columns: 1;
                                }

                                >li {
                                    a {
                                        display: inline-block;
                                        transition: all .3s ease;
                                        cursor: pointer;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }

                                    &.link {
                                        margin-bottom: .5rem !important;
                                        
                                        span {
                                            font-weight: 400;

                                            @media (min-width: 992px) {
                                                font-size: 1.2rem;
                                            }

                                            @media (max-width: 991px) {
                                                font-size: 1rem;
                                            }
                                        }
                                    }
                                }
                            }

                            >img {
                                object-fit: cover;
                                object-position: center;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        .mobile_nav_separator_outer {
            width: 100%;
            padding: 0 2rem;
    
            @media (min-width: 992px) {
                display: none;
            }
        }
    
        hr.mobile_nav_separator {
            width: 100%;
            height: 1px;
            background: #ededed;
            border: none;
    
            @media (min-width: 992px) {
                display: none;
            }
        }
    }
}