// Footcare Colours
$orange: #FBB911;
$darkBlue: #3b4395;

// Main Colours

$first: #EB2128;
$second: #292929;
$third: #292929;
$fourth: #4a4a49;
$fifth: #6f6f6e;
$sixth: #bbbcbd;
$seventh: #d6d6d6;
$eight: #ECECEC;
$nine: #D5D5D5;
$ten: #707070;

// Colour Blocks

$white: #fff;
$black: #292929;
$lightGrey: #F8F8F8; 

// Typography

$paragraphColor: #292929;
$headingColor: #292929;

// Other

$social: #000000;
$link: #292929;
